/*
   New Perspectives on HTML
   Tutorial 3
   Case Problem 1

   ICI Text and Color Styles
   Author: Akenyae Jones
   Date:   06/05/2025

   Filename:         c_styles.css
   Supporting Files: none

*/
