/*
   New Perspectives on HTML
   Tutorial 3
   Case Problem 1

   ICI Text and Color Styles
   Author: Akenyae Jones
   Date:   06/05/2025

   Filename:         c_styles.css
   Supporting Files: none

*/


body {
    background-color: black;
    color: white;
    font-family: "Century Gothic", sans-serif;
}


header h1 {
    color: yellow;
    font-family: "Courier New", Courier, monospace;
    font-size: 28px;
    letter-spacing: 20px; /* Kerning is controlled by letter-spacing in CSS */
    text-align: center;
}

article h2 {
    font-size: 24px;
    font-weight: normal; /* Removes boldface */
    letter-spacing: 5px;
}

article p {
    text-align: justify;
}

.keyword {
    color: yellow;
    font-weight: normal; /* Removes bold font */
}

footer p {
    text-align: center;
}

img[usemap] {
    border-width: 0px;
}


.float-left {
    float: left;
    margin-right: 15px; /* Adjust as needed for spacing */
    margin-bottom: 10px; /* Optional: adds space below the image */
}
