/*
   New Perspectives on HTML and CSS
   Tutorial 8
   Case Problem 1

   dessertWeb Print Styles
   Author: Akenyae Jones
   Date:   07/05/2025

   Filename:         dwprint.css
   Supporting Files: 

*/

@page {
  size: 8.5in 11in portrait;
  margin: 0.5in;
}

/* Hide elements in print */
header,
section#left,
section#right,
nav,
aside,
footer,
hgroup h2,
article p:last-of-type {
  display: none !important;
}

/* Style headings for print */
h1 {
  font-size: 200%;
  margin-bottom: 0.2in;
}

h2 {
  font-size: 150%;
  margin-top: 0.5in;
}

/* List styling */
li {
  line-height: 1.5em;
}

ol {
  margin-left: 0.5in;
  list-style-type: decimal;
}

/* Force page break before the last h2 element */
h2:last-of-type {
  page-break-before: always;
}



